.App {
  background-image: url(../src/assets/gerrie-van-der-walt-2uSnxq3M4GE-unsplash.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  min-height: 100vh;
}
